In [21]:
import requests
from datetime import datetime
import time
import re
res = requests.get('https://www.hkex.com.hk/Market-Data/Securities-Prices/Equities/Equities-Quote?sym=700&sc_lang=zh-HK')
m = re.search('LabCI.getToken = function \(\) { (.+?); };', ' '.join(res.text.split()) )
token = m.group(1).split('return')[-1].replace('"','').strip()
dt = int(time.mktime(datetime.now().timetuple()))
res = requests.get(f'https://www1.hkex.com.hk/hkexwidget/data/getchartdata2?hchart=1&span=0&int=0&ric=0700.HK&token={token}&qid={dt}&callback=jQuery_{dt}')
#res.text

In [22]:
m2 = re.match('jQuery_\d+\((.+)\)',res.text)

In [23]:
import json
jd = json.loads(m2.group(1))

In [24]:
import pandas
df = pandas.DataFrame(jd['data']['datalist'])

In [25]:
df

                 0      1      2      3      4          5             6
0    1624325400000    NaN    NaN    NaN    NaN        NaN           NaN
1    1624325400000  588.5  589.0  583.5  584.5   345500.0  2.025364e+11
2    1624325460000  584.0  584.0  583.0  584.0   104500.0  6.097975e+10
3    1624325520000  583.5  584.0  582.5  584.0   149200.0  8.701638e+10
4    1624325580000  583.5  584.5  583.5  584.0    88800.0  5.185435e+10
..             ...    ...    ...    ...    ...        ...           ...
396  1624349100000  574.0  574.0  574.0  574.0        0.0  0.000000e+00
397  1624349160000  574.0  574.0  574.0  574.0        0.0  0.000000e+00
398  1624349220000  574.0  574.0  574.0  574.0        0.0  0.000000e+00
399  1624349280000  573.5  573.5  573.5  573.5  1628700.0  9.340594e+11
400  1624349400000    NaN    NaN    NaN    NaN        NaN           NaN

[401 rows x 7 columns]