In [1]:
import requests
res = requests.get('https://www.boxofficemojo.com/movies/?page=daily&view=chart&id=marvel2019.htm')

In [66]:
from bs4 import BeautifulSoup
soup = BeautifulSoup(res.text, 'html5lib')

In [67]:
import pandas
dfs = pandas.read_html(soup.select_one('table.chart-wide').prettify())

In [68]:
type(dfs)

list

In [69]:
len(dfs)

1

In [70]:
dfs[0]

,0,1,2,3,4,5,6,7,8,9
0,Day,Date,Rank,Gross,% +/- YD / LW*,% +/- YD / LW*,Theaters / Avg,Theaters / Avg,Gross-to-Date,Day #
1,Fri,"Apr. 26, 2019",1,"$157,461,641",-,-,4662,"$33,776","$157,461,641",1
2,Sat,"Apr. 27, 2019",1,"$109,264,122",-30.6%,-,4662,"$23,437","$266,725,763",2
3,Sun,"Apr. 28, 2019",1,"$90,389,244",-17.3%,-,4662,"$19,389","$357,115,007",3
4,Mon,"Apr. 29, 2019",1,"$36,874,439",-59.2%,-,4662,"$7,910","$393,989,446",4
5,Tue,"Apr. 30, 2019",1,"$33,110,349",-10.2%,-,4662,"$7,102","$427,099,795",5
6,Wed,"May 1, 2019",1,"$25,251,991",-23.7%,-,4662,"$5,417","$452,351,786",6
7,Thu,"May 2, 2019",1,"$21,542,852",-14.7%,-,4662,"$4,621","$473,894,638",7
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,Fri,"May 3, 2019",1,"$40,736,774",+89.1%,-74.1%,4662,"$8,738","$514,631,412",8
10,Sat,"May 4, 2019",1,"$61,527,049",+51.0%,-43.7%,4662,"$13,198","$576,158,461",9
11,Sun,"May 5, 2019",1,"$45,119,388",-26.7%,-50.1%,4662,"$9,678","$621,277,849",10
12,Mon,"May 6, 2019",1,"$10,709,607",-76.3%,-71.0%,4662,"$2,297","$631,987,456",11
13,Tue,"May 7, 2019",1,"$12,518,963",+16.9%,-62.2%,4662,"$2,685","$644,506,419",12
14,Wed,"May 8, 2019",1,"$8,429,166",-32.7%,-66.6%,4662,"$1,808","$652,935,585",13
15,Thu,"May 9, 2019",1,"$7,510,154",-10.9%,-65.1%,4662,"$1,611","$660,445,739",14
16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,Fri,"May 10, 2019",2,"$16,190,479",+115.6%,-60.3%,4662,"$3,473","$676,636,218",15
18,Sat,"May 11, 2019",1,"$27,542,359",+70.1%,-55.2%,4662,"$5,908","$704,178,577",16
19,Sun,"May 12, 2019",1,"$19,567,066",-29.0%,-56.6%,4662,"$4,197","$723,745,643",17
20,Mon,"May 13, 2019",1,"$4,702,092",-76.0%,-56.1%,4662,"$1,009","$728,447,735",18
21,Tue,"May 14, 2019",1,"$5,742,618",+22.1%,-54.1%,4662,"$1,232","$734,190,353",19
22,Wed,"May 15, 2019",1,"$3,788,021",-34.0%,-55.1%,4662,$813,"$737,978,374",20
23,Thu,"May 16, 2019",1,"$3,416,496",-9.8%,-54.5%,4662,$733,"$741,394,870",21
24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,Fri,"May 17, 2019",2,"$7,470,727",+118.7%,-53.9%,4220,"$1,770","$748,865,597",22
26,Sat,"May 18, 2019",2,"$12,903,478",+72.7%,-53.2%,4220,"$3,058","$761,769,075",23
27,Sun,"May 19, 2019",2,"$9,599,300",-25.6%,-50.9%,4220,"$2,275","$771,368,375",24
28,Mon,"May 20, 2019",2,"$3,162,240",-67.1%,-32.7%,4220,$749,"$774,530,615",25
29,Tue,"May 21, 2019",2,"$2,900,871",-8.3%,-49.5%,4220,$687,"$777,431,486",26

In [71]:
df = dfs[0]
df.columns = df.loc[0]
df.head()

,Day,Date,Rank,Gross,% +/- YD / LW*,% +/- YD / LW*,Theaters / Avg,Theaters / Avg,Gross-to-Date,Day #
0,Day,Date,Rank,Gross,% +/- YD / LW*,% +/- YD / LW*,Theaters / Avg,Theaters / Avg,Gross-to-Date,Day #
1,Fri,"Apr. 26, 2019",1,"$157,461,641",-,-,4662,"$33,776","$157,461,641",1
2,Sat,"Apr. 27, 2019",1,"$109,264,122",-30.6%,-,4662,"$23,437","$266,725,763",2
3,Sun,"Apr. 28, 2019",1,"$90,389,244",-17.3%,-,4662,"$19,389","$357,115,007",3
4,Mon,"Apr. 29, 2019",1,"$36,874,439",-59.2%,-,4662,"$7,910","$393,989,446",4

In [73]:
df.drop(0, axis = 0, inplace=True)

In [74]:
df.head()

,Day,Date,Rank,Gross,% +/- YD / LW*,% +/- YD / LW*,Theaters / Avg,Theaters / Avg,Gross-to-Date,Day #
1,Fri,"Apr. 26, 2019",1,"$157,461,641",-,-,4662,"$33,776","$157,461,641",1
2,Sat,"Apr. 27, 2019",1,"$109,264,122",-30.6%,-,4662,"$23,437","$266,725,763",2
3,Sun,"Apr. 28, 2019",1,"$90,389,244",-17.3%,-,4662,"$19,389","$357,115,007",3
4,Mon,"Apr. 29, 2019",1,"$36,874,439",-59.2%,-,4662,"$7,910","$393,989,446",4
5,Tue,"Apr. 30, 2019",1,"$33,110,349",-10.2%,-,4662,"$7,102","$427,099,795",5